*{
	padding: 0;
	margin: 0;
}
#head
{
	width: 100%;
	background-color: #2189bf;
	height:57px;
	position: absolute; 
}
#head .logo
{
 
  position: absolute;
  left: 50px;
  top: 10px;
  width: 36px;
  height: 36px;
}
#head .find
{
	
  position: absolute;
  right: 219px;
  top: 14px;
  width: 313px;
  height: 28px;
  border-radius: 14px;
  border: none;
}
#head .findLogo
{

  position: absolute;
  right: 500px;
  top: 19px;
}
#head .login
{

  position: absolute;
 right: 170px;
  top: 20px;
}
#head span
{
	font-size: 12px;
	font-family: "黑体";
  color: #FFF;
	line-height: 57px;
  position: absolute;
	right: 140px;
  
  
}


#container
{
	width: 1280px;
	height: 1213px;
	background-color: #B7B7B7;
	position: absolute;
	top: 57px;
	left: 50%;
	transform: translate(-50%,0);
}
#nav
{
 
  background-color: #2a2e3d;
  position: absolute;

  width: 261px;
  height: 1213px;

}

#nav .headImg
{

 
  opacity: 0.7;
  position: absolute;
  left: 51px;
  top: 22px;
  width: 47px;
  height: 47px;
  

}

#nav .name {
  font-size: 16px;
  font-family: "SimHei";
  position: absolute;
  left: 120px;
  top: 36px;
 color: #fff;
}
#nav .sc , #nav .fans
{
	font-size: 14px;
	color: #566476;

}
#nav .sc
{
	position: absolute;
	left: 70px;
  	top: 97px;
}
#nav .fans
{
	position: absolute;
	left: 140px;
  	top: 97px;
}
#nav .nav1{
  
  position: absolute;
  
  width: 2px;
  height: 29px;
  
}
#nav .select 
{
	position: absolute;
	top: 148px;
}


#nav .select ul li
{
	list-style: none;
	line-height: 46px;
	font-size: 12px;
	color: #6e8095;
	width: 261px;
	padding-left: 60px;
	
}
#nav .select ul li:hover
{
	background-color: #393d4e;
}
#nav .select ul li p
{
	display: inline-block;
	padding-left: 16px;
}
#nav .select ul li ul li
{
	list-style: none;
	line-height: 36px;
	position: relative;
	left: -30px;
	display: none;

}
#nav .select ul li ul li ul li
{
	display: none;
}
#nav .select ul li ul li img
{
	margin-right: 14px;
}
#nav .select ul li ul li p
{
	font-size: 12px;
	display: inline-block;
	margin-left: -20px;
}
#content
{
	position: absolute;
	left: 261px;
	background-color: #eeeeed;
	width: 1019px;
	 height: 1213px;
}
#content .index
{

  
  position: absolute;
  width: 1021px;
  height: 31px;
  background-color: #fff; 
  color: #AAA;
  font-size: 12px;
  line-height: 31px;
  padding-left: 30px;

}
#content .index span
{
	color: #2289bf;
}
#content .item1
{
  position: absolute;
  background-color: #FFF;
  top: 50px;
  left: 60px;
  width: 891px;
  height: 86px;  
}
#content .item1 .p1{
  font-size: 12px;
  font-family: "SimHei";
  position: absolute;
  left: 30px;
  top: 23px;
  color: #AAA;
 }
#content .item1 .i1
{
	position: absolute;
  left: 76px;
  top: 18px;
  width: 66px;
  height: 22px;
  font-size: 12px;
}